body,
html {
	height: 100%;
	width: 100%;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		30deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}

/*Button*/
button {
	margin: auto;
	font-size: 100px;
	font-family: Sans-Serif;
	color: #fc7a6f;
	border: 3px solid #fc7a6f;
	background-color: white;
}

button:hover {
	background-color: #fc7a6f;
	color: white;
	border: 3px solid white;
}

button:focus {
	outline: none;
}

/*Divisons*/
#big {
	display: grid;
	margin-top: 50px;
}

#container {
	margin-left: auto;
	margin-right: auto;
}

/*Candle*/
.candle {
	width: 3px;
	height: 60px;
	background-color: #e2c5a3;
	border: 3px solid #e2c5a3;
	visibility: hidden;
}

.candle:hover {
	background-color: #e2c5a3;
	border: 3px solid #e2c5a3;
}

/*Candle flame*/
.candleflame {
	width: 45px;
	height: 45px;
	border-radius: 0 40% 60% 40%;
	transform: scaleX(0.8) rotate(45deg);
	background-color: #ea5644;
	border: 3px solid #ea5644;
	visibility: hidden;
}

.candleflame:hover {
	border: 3px solid #fc7a6f;
}

/*Birthday text*/
#text {
	font-family: Sans-Serif;
	font-size: 50px;
	text-align: center;
	align-items: center;
	visibility: hidden;
	animation-name: text;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes text {
	0% {
		color: #fc7a6f;
	}
	20% {
		color: #fc6fa9;
	}
	40% {
		color: #7e6ffc;
	}
	60% {
		color: #6fcffc;
	}
	80% {
		color: #fcd16f;
	}
	100% {
		color: #fc6f8d;
	}
}

#ptext {
	font-family: Sans-Serif;
	font-size: 15px;
	text-align: center;
	align-items: center;
	color: #9e4841;
	visibility: hidden;
}
